.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden1);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img{
    width:80%;
}

@media screen and (max-width:650px) {
    .app__header-h1{
        line-height: 90px;
        font-size: 70px;
    }
}